    .body{
    background-color: #6e5c62;
    height: 100svh;
    font-family: "Montserrat", sans-serif;
}

.header{
    background-color: #5b4e52;
    display: flex;
    align-items: center;
    height: 10% ;
    justify-content: center;
    font-size: 4vh;
    font-weight: bold;
    color: white;
}

.gameContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60%;
}

.keyboardContainer{
    height: 30%;
    display: flex;
    justify-content: center;
}